{% extends 'site_base.html' %}
{% load bootstrap_tags %}

{% block head_title %}Find Pair{% endblock %}

{% block body_base %}

{% if disp %}
    <div class="container">
    <legend>All Pairs</legend>

    <table class ="table">
    <tr>
        <th>Pair</th>
        <th>Strength</th>
    </tr>

	<tr>
        <td>{{ object_list.ingredientName1 }} & {{ object_list.ingredientName2 }}</td>
        <td>{{ object_list.strength }}</td>
    </tr>

    </table>

    </div>

{% else %}
    <section>
    <div class="container">
    <legend>Find Pairings for an Ingredient <br>OR <br> <a href="/pair-list/" class="btn btn-primary">List All</a> </legend>
    <form action="{% url 'flavorPairing.views.find_pairings' %}" method="post">
        {% csrf_token %}
        {{  form|as_bootstrap }}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
    </div>
    </section>
{% endif %}

{% endblock %}