{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Flavor Pairing Database{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br><i class="fa fa-magic"></i> Flavor Pairing{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                We aim to create a database that allows users to search for ingredient pairs
                that compliment each other.
                {% endblocktrans %}
            </p>
            {% if user.is_authenticated %}
            {% url "what_next" as what_next_url %}
            <p class="what_next">{% blocktrans %}Now... <a href="{{ pair_url }}" class="btn btn-primary large">Find Pairs!</a>?{% endblocktrans %}</p>
            {% else %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is it?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>FP</b> is based on Django.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-glass fa-3x"></i><br>
                    {% blocktrans %}
                    <b>...</b> ...
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-apple fa-3x"></i><br>
                    {% blocktrans %}
                    <b>...</b> ...
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-globe fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Food.</b> yumm.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}

                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
