{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

    {% if form.errors %}
    <p class="error">Sorry, invalid.</p>
    {% endif %}

    <form action="/accounts/auth" method="post">{% csrf_token %}

     <label for="username">Username</label>
     <input type="text" name="username" value="" id="username">
     <label for="password">Password:</label>
     <input type="password" name="password" value="" id="password">
     {% buttons %}
     <button type="submit" class="btn btn-primary">
         {% bootstrap_icon "star" %} Submit
         </button>
     {% endbuttons %}
    </form>
{% endblock %}

